
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}

body{
    background: linear-gradient(180deg, #0B78A7, #23E5FF);
}
.fundoBranco{
    background: #f0f0f0;
}
.contudoAcessoFuncionario{
    display: inline;
}

/* autenticacao */
.autenticacao{
    display: flex;
    height: 100vh;
}
.autenticacaoOcultar{
    display: none;
}

.divisaoAutenticacao{
    width: 800px;
    height: 450px;
    margin: auto;
    box-shadow: 0px 0px 20px 10px #0000002c;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.divisaoAutenticacaoEsquerda{
    color: #ffffff;
    background:url(img/fundo1.jpeg);
    background-size: cover;
    background-position: center;
    padding: 40% 0px;
}
.nomeTituloDivisaoAutenticacaoEsquerda{
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
}
.conteudoDivisaoAutenticacaoEsquerda{
    text-align: justify;
    text-indent: 10px;
    padding: 0px 10px;
}

.divisaoAutenticacaoDireita{
    display: inline;
    padding: 15% 0px;
    background-color: #ffffff;
}
.nomeTituloDivisaoAutenticacaoDireita{
    color: #0B78A7;
    font-size: 30px;
    padding-left: 10px;
}
.conteudoDivisaoAutenticacaoDireita{
    margin: 50px 25%;
    margin-bottom: 70px;
}
.descricaoDivisaoAutenticacao{
    margin: 5px 0px;
}
.nomeInputDivisaoAutenticacaoDireita{
    text-align: left;
}
.campoSenha{
    display: flex;
    border: #000000 1px solid;
}
.campoAutenticacao{
    width: 100%;
    min-width: 60px;
    text-align: center;
    padding: 5px;
    border: #000000 1px solid;
    margin-bottom: 5px;
}
#campoAutenticacaoSenha{    
    border: #00000000 1px solid;
    margin-bottom: 0px;
    margin-right: -15px;
}
#botaoMostrarSenha{
    text-align: right;
    font-size: 17px;
    margin: auto 2px;
    margin-bottom: 5px;
    cursor: pointer;
}

.botaoAutenticar{
    margin: 10px auto;
    padding: 5px 15px;
    border: #126dde 1px solid;
    background-color:#126dde;
    color: #ffffff;
    font-weight: bolder;
    cursor: pointer;
}

.LinkEsqueceuSenha{
    text-align: right;
    padding-right: 5px;
    cursor: pointer;
    margin-top: 31%;
    margin-bottom: -13%;
}

/*Esqueceu Senha*/
.esqueceuSenha{
    display: none;
}
.esqueceuSenhaMostrar{
    display: flex;
    height: 100vh;
}

.divisaoEsqueceuSenha{
    width: 800px;
    height: 450px;
    margin: auto;
    box-shadow: 0px 0px 20px 10px #0000002c;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.divisaoEsqueceuSenhaEsquerda{
    color: #ffffff;
    background:url(img/fundo1.jpeg);
    background-size: cover;
    background-position: center;
    padding: 40% 0px;
}
.nomeTituloDivisaoEsqueceuSenhaEsquerda{
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
}
.conteudoDivisaoEsqueceuSenhaEsquerda{
    text-align: justify;
    text-indent: 10px;
    padding: 0px 10px;
}

.divisaoEsqueceuSenhaDireita{
    display: inline;
    padding: 15% 0px;
    background-color: #ffffff;
}
.nomeTituloDivisaoEsqueceuSenhaDireita{
    color: #0B78A7;
    font-size: 30px;
    padding-left: 10px;
}
.conteudoDivisaoEsqueceuSenhaDireita{
    margin: 50px 25%;
    margin-bottom: 70px;
}
.descricaoDivisaoEsqueceuSenha{
    margin: 5px 0px;
}
.nomeInputDivisaoEsqueceuSenhaDireita{
    text-align: left;
}

.campoEsqueceuSenha{
    width: 100%;
    min-width: 120px;
    text-align: center;
    border: #000000 1px solid;
    padding: 5px;
    margin-bottom: 5px;
}

.botaoEsqueceuSenha{
    margin: 10px auto;
    padding: 5px 15px;
    border: #126dde 1px solid;
    background-color:#126dde;
    color: #ffffff;
    font-weight: bolder;
    cursor: pointer;
}

.LinkbotaoVoltar{
    text-align: right;
    padding-right: 5px;
    cursor: pointer;
    color: #ff0000;
    margin-top: -15%;
    margin-bottom: 8%;
}




/* acessoFuncionario */
.acessoFuncionario{
    display: none;
}
.acessoFuncionarioMostrar{
    width: 100%;
    margin: 0px auto;
    display: grid;
    width: 100%;
    margin: 0px auto;
    grid-template-columns: 220px auto;
}
.acessoFuncionarioFecharMenu{
    display: grid;
    grid-template-columns: 100%;
}
.menuAcessoFuncionario{
    display: block;
    position: relative;
    left: 0;
    background: linear-gradient(180deg, #0B78A7 70%, #23E5FF);
    min-height: 100vh;
    max-height: 100%;
    padding-top: 25px;
}
.menuAcessoFuncionarioOcultar{
    display: none;
}
.menuAcessoFuncionarioFecharMenu{
    display: none;
}
.menuHamburguerAcessoFuncionario,.menuFecharAcessoFuncionario{
    position: fixed;
    top: 0;
    left: 0;
    cursor: pointer;
}
.menuHamburguerAcessoFuncionario{
    background-color: #f0f0f0;
}
#botaoHamburguer,#botaoFechar{
    color: #ffffff;
    padding: 12px;
    background-color: #126dde;
    border-radius: 0% 0% 50%;
}
#botaoFechar{
    border-right: #ffffff solid 1px;
    border-bottom: #ffffff solid 1px;
}
.dadosAcessoFuncionario{
    display: grid;
    margin: auto;
}
.imagemFuncionario{
    width: 150px;
    height: 150px;
    margin: 15px auto;
    border-radius: 50%;
}
.descricaoMenuAcessoFuncionario{
    margin: 1px 0px;
    margin-left: 35px;
    color: #ffffff;
    font-size: 13px;
    font-weight: 600;
}
.nomeAcessoFuncionario{
    font-weight: 100;
}
.dadosMenuAcessoFuncionario{
    margin: 2px;
    margin-top: 55px;
}
.dadoMenuAcessoFuncionario{
    margin: 10px 0px;
    padding: 10px 0px;
    margin-left: 7px;
    color: #ffffff;
    cursor: pointer;
}
.dadoMenuAcessoFuncionario:hover{
    background: #ffffff;
    color: #0B78A7;
    margin-left: 0px;
    padding-left: 7px;
    font-weight: bold;

}
.nomeDadoMenuAcessoFuncionario{
    font-size: 16px;
    margin: 5px 0px;
}
.iconedadoMenuAcessoFuncionario{
    margin-right: 4px;
    font-size: 2px;
}
/* #iconeMenuCadastrarPaciente{
    transform: rotateY(180deg);
} */
#iconeMenuFazerLogoof{
    transform:rotate(180deg);
}

.topoAcessoFuncionario{
    width: calc(100% - 220px);
    position: fixed;
    right: 0;
    background: #f0f0f0;
}
.topoAcessoFuncionarioFechar{
    width: calc(100% - 45px);
    position: fixed;
    right: 0;
    background: #f0f0f0;
}
.nomeTituloTopoAcessoFuncionario{
    text-align: center;
    font-size: 40px;
    color: #126dde;
    text-transform: uppercase;
}



/* consultarCadastro */
.consultarCadastro{
    width: 100%;
    margin: auto;
    display: block;
    overflow: scroll;
    height: 100%;
    padding-top: 30px;
}
.consultarCadastro::-webkit-scrollbar { 
	display: none;
}

.consultarCadastroOcultar{
    display: none;
}

.conteudoConsultarCadastro{
    width: 100px;
    margin: 50px auto;
}
.campoConsultarCadastro{
    width: 110px;
    text-align: center;
    border: #000000 1px solid;
    padding: 5px;
    margin-bottom: 5px;
}
.botaoConsultarCadastro{
    margin: 10px auto;
    padding: 5px 15px;
    border: #126dde 1px solid;
    background-color:#126dde;
    color: #ffffff;
    font-weight: bolder;
    cursor: pointer;
}


/*funcionarioConsultarCadastroCriado*/
.funcionarioConsultarCadastroCriado{
    display: none;
}
.funcionarioConsultarCadastroCriadoMostrar{
    width: 100%;
    margin: auto;
    display: block;
    overflow: scroll;
    height: 100%;
}
.funcionarioConsultarCadastroCriadoMostrar::-webkit-scrollbar { 
	display: none;
}

.tituloFuncionarioConsultarCadastroCriado{
    margin: auto;
}
.nomeTituloFuncionarioConsultarCadastroCriado{
    text-align: center;
    font-size: 40px;
    color: #126dde;
    margin-bottom: 20px;
}

.divisaoFuncionarioConsultarCadastroCriado{
    display:flex;
    flex-wrap:wrap;
    width: 530px;
    margin: auto;
    height: 91vh;
    margin-top: 50px;
}
.descricaoFuncionarioConsultarCadastroCriado{
    flex:1 1 auto;
    margin: 5px 3px;
}
#descricaoFuncionarioConsultarCadastroCriadoCPF, #descricaoFuncionarioConsultarCadastroCriadoProntuario, #descricaoFuncionarioConsultarCadastroCriadoTipoMedico, #descricaoFuncionarioConsultarCadastroCriadoSalaAtendimento{
    width: 255px;
}
#inputFuncionarioConsultarCadastroCriadoCPF, #inputFuncionarioConsultarCadastroCriadoProntuario, #inputFuncionarioConsultarCadastroCriadoTipoMedico, #inputFuncionarioConsultarCadastroCriadoSalaAtendimento{
    width: 255px;
}


#descricaoFuncionarioConsultarCadastroCriadoNomeCompleto, #descricaoFuncionarioConsultarCadastroCriadoPontoReferencia{
    width: 420px;
}
#inputFuncionarioConsultarCadastroCriadoNomeCompleto, #inputFuncionarioConsultarCadastroCriadoPontoReferencia{
    width: 420px;
}

#descricaoFuncionarioConsultarCadastroCriadoTipoSaguineo, #descricaoFuncionarioConsultarCadastroCriadoNumero, #descricaoFuncionarioConsultarCadastroCriadoUF, #descricaoFuncionarioConsultarCadastroCriadoSexo{
    width: 90px;
}
#inputFuncionarioConsultarCadastroCriadoTipoSaguineo, #inputFuncionarioConsultarCadastroCriadoNumero, #inputFuncionarioConsultarCadastroCriadoUF, #inputFuncionarioConsultarCadastroCriadoSexo{
    width: 90px;
    text-align: center;
}


#descricaoFuncionarioConsultarCadastroCriadoEmail{
    width: 340px;

}
#inputFuncionarioConsultarCadastroCriadoEmail{
    width: 340px;
}

#descricaoFuncionarioConsultarCadastroCriadoTelefone{
    width: 170px;

}
#inputFuncionarioConsultarCadastroCriadoTelefone{
    width: 170px;
    text-align: center;
}


#descricaoFuncionarioConsultarCadastroCriadoCEP, #descricaoFuncionarioConsultarCadastroCriadoEstadoCivil{
    width: 110px;
}
#inputFuncionarioConsultarCadastroCriadoCEP, #inputFuncionarioConsultarCadastroCriadoEstadoCivil{
    width: 110px;
}

#descricaoFuncionarioConsultarCadastroCriadoRua, #descricaoFuncionarioConsultarCadastroCriadoLocalNascimento{
    width: 299px;
}
#inputFuncionarioConsultarCadastroCriadoRua, #inputFuncionarioConsultarCadastroCriadoLocalNascimento{
    width: 299px;
}

#descricaoFuncionarioConsultarCadastroCriadoComplemento, #descricaoFuncionarioConsultarCadastroCriadoCidade, #descricaoFuncionarioConsultarCadastroCriadoMunicipio{
    width: 165px;
}
#inputFuncionarioConsultarCadastroCriadoComplemento, #inputFuncionarioConsultarCadastroCriadoCidade, #inputFuncionarioConsultarCadastroCriadoMunicipio{
    width: 165px;
}


#descricaoFuncionarioConsultarCadastroCriadoNomePai, #descricaoFuncionarioConsultarCadastroCriadoNomeMae{
    width: 390px;

}
#inputFuncionarioConsultarCadastroCriadoNomePai, #inputFuncionarioConsultarCadastroCriadoNomeMae{
    width: 390px;
}
#descricaoFuncionarioConsultarCadastroCriadoTelefonePai, #descricaoFuncionarioConsultarCadastroCriadoTelefoneMae{
    width: 120px;

}
#inputFuncionarioConsultarCadastroCriadoTelefonePai, #inputFuncionarioConsultarCadastroCriadoTelefoneMae{
    width: 120px;
    text-align: center;
}


#descricaoFuncionarioConsultarCadastroCriadoSintomas, #descricaoFuncionarioConsultarCadastroCriadoAlergias, #descricaoFuncionarioConsultarCadastroCriadoDoencasCronicas, #descricaoFuncionarioConsultarCadastroCriadoRemediosControlados{
    width: 520px;

}
#inputFuncionarioConsultarCadastroCriadoSintomas, #inputFuncionarioConsultarCadastroCriadoAlergias, #inputFuncionarioConsultarCadastroCriadoDoencasCronicas, #inputFuncionarioConsultarCadastroCriadoRemediosControlados{
    width: 520px;
    text-align: center;
    resize: none;    
    height: 70px;
    text-align: left;
}
#inputFuncionarioConsultarCadastroCriadoSintomas{
    height: 150px;
}
.inputFuncionarioConsultarCadastroCriado{
    padding: 10px;
    text-transform: uppercase;
}

/*funcionarioCadastrarPaciente*/
.funcionarioCadastrarPaciente{
    display: none;
}
.funcionarioCadastrarPacienteMostrar{
    width: 100%;
    margin: auto;
    display: block;
    overflow: scroll;
    height: 100%;
}
.funcionarioCadastrarPacienteMostrar::-webkit-scrollbar { 
	display: none;
}

.divisaoFuncionarioCadastrarPaciente{
    display:flex;
    flex-wrap:wrap;
    width: 530px;
    margin: auto;
    height: 91vh;
    margin-top: 50px;
}
.descricaoFuncionarioCadastrarPaciente{
    flex:1 1 auto;
    margin: 5px 3px;
}
#descricaoFuncionarioCadastrarPacienteCPF, #descricaoFuncionarioCadastrarPacienteProntuario, #descricaoFuncionarioCadastrarPacienteTipoMedico, #descricaoFuncionarioCadastrarPacienteSalaAtendimento{
    width: 255px;
}
#inputFuncionarioCadastrarPacienteCPF, #inputFuncionarioCadastrarPacienteProntuario, #inputFuncionarioCadastrarPacienteTipoMedico, #inputFuncionarioCadastrarPacienteSalaAtendimento{
    width: 255px;
}


#descricaoFuncionarioCadastrarPacienteNomeCompleto, #descricaoFuncionarioCadastrarPacientePontoReferencia{
    width: 420px;
}
#inputFuncionarioCadastrarPacienteNomeCompleto, #inputFuncionarioCadastrarPacientePontoReferencia{
    width: 420px;
}

#descricaoFuncionarioCadastrarPacienteTipoSaguineo, #descricaoFuncionarioCadastrarPacienteNumero, #descricaoFuncionarioCadastrarPacienteUF, #descricaoFuncionarioCadastrarPacienteSexo{
    width: 90px;
}
#inputFuncionarioCadastrarPacienteTipoSaguineo, #inputFuncionarioCadastrarPacienteNumero, #inputFuncionarioCadastrarPacienteUF, #inputFuncionarioCadastrarPacienteSexo{
    width: 90px;
    text-align: center;
}


#descricaoFuncionarioCadastrarPacienteEmail{
    width: 340px;

}
#inputFuncionarioCadastrarPacienteEmail{
    width: 340px;
}

#descricaoFuncionarioCadastrarPacienteTelefone{
    width: 170px;

}
#inputFuncionarioCadastrarPacienteTelefone{
    width: 170px;
    text-align: center;
}


#descricaoFuncionarioCadastrarPacienteCEP, #descricaoFuncionarioCadastrarPacienteEstadoCivil{
    width: 110px;
}
#inputFuncionarioCadastrarPacienteCEP, #inputFuncionarioCadastrarPacienteEstadoCivil{
    width: 110px;
}

#descricaoFuncionarioCadastrarPacienteRua, #descricaoFuncionarioCadastrarPacienteLocalNascimento{
    width: 299px;
}
#inputFuncionarioCadastrarPacienteRua, #inputFuncionarioCadastrarPacienteLocalNascimento{
    width: 299px;
}

#descricaoFuncionarioCadastrarPacienteComplemento, #descricaoFuncionarioCadastrarPacienteCidade, #descricaoFuncionarioCadastrarPacienteMunicipio{
    width: 165px;
}
#inputFuncionarioCadastrarPacienteComplemento, #inputFuncionarioCadastrarPacienteCidade, #inputFuncionarioCadastrarPacienteMunicipio{
    width: 165px;
}


#descricaoFuncionarioCadastrarPacienteNomePai, #descricaoFuncionarioCadastrarPacienteNomeMae{
    width: 390px;

}
#inputFuncionarioCadastrarPacienteNomePai, #inputFuncionarioCadastrarPacienteNomeMae{
    width: 390px;
}
#descricaoFuncionarioCadastrarPacienteTelefonePai, #descricaoFuncionarioCadastrarPacienteTelefoneMae{
    width: 120px;

}
#inputFuncionarioCadastrarPacienteTelefonePai, #inputFuncionarioCadastrarPacienteTelefoneMae{
    width: 120px;
    text-align: center;
}


#descricaoFuncionarioCadastrarPacienteSintomas, #descricaoFuncionarioCadastrarPacienteAlergias, #descricaoFuncionarioCadastrarPacienteDoencasCronicas, #descricaoFuncionarioCadastrarPacienteRemediosControlados{
    width: 520px;

}
#inputFuncionarioCadastrarPacienteSintomas, #inputFuncionarioCadastrarPacienteAlergias, #inputFuncionarioCadastrarPacienteDoencasCronicas, #inputFuncionarioCadastrarPacienteRemediosControlados{
    width: 520px;
    text-align: center;
    resize: none;    
    height: 70px;
    text-align: left;
}
#inputFuncionarioCadastrarPacienteSintomas{
    height: 150px;
}
.inputFuncionarioCadastrarPaciente{
    padding: 10px;
    text-transform: uppercase;
}

.conteudobotaoCadastrarPaciente{
    margin: auto;
}
.botaoCadastrarPaciente{
    margin: 10px auto;
    margin-bottom: 20px;
    padding: 5px 15px;
    border: #126dde 1px solid;
    background-color:#126dde;
    color: #ffffff;
    font-weight: bolder;
    cursor: pointer;
}


/* consultarHistorico */
.consultarHistorico{
    display: none;
}
.consultarHistoricoMostrar{
    width: 100%;
    margin: auto;
    display: block;
    overflow: scroll;
    height: 100%;
    padding-top: 30px;
}
.consultarHistorico::-webkit-scrollbar { 
	display: none;
}

.consultarHistoricoOcultar{
    display: none;
}

.conteudoConsultarHistorico{
    width: 100px;
    margin: 50px auto;
}
.campoConsultarHistorico{
    width: 110px;
    text-align: center;
    border: #000000 1px solid;
    padding: 5px;
    margin-bottom: 5px;
}
.botaoConsultarHistorico{
    margin: 10px auto;
    padding: 5px 15px;
    border: #126dde 1px solid;
    background-color:#126dde;
    color: #ffffff;
    font-weight: bolder;
    cursor: pointer;
}


/*funcionarioConsultarHistoricoDetalhes*/

.funcionarioConsultarHistoricoDetalhes{
    display: none;
}
.funcionarioConsultarHistoricoDetalhesMostrar{
    width: 100%;
    margin: auto;
    display: block;
    overflow: scroll;
    height: 100%;
    right: 0;
    position: relative;
}
.funcionarioConsultarHistoricoDetalhesMostrar::-webkit-scrollbar { 
	display: none;
}

.divisaoFuncionarioConsultarHistoricoDetalhes{
    display: none;
}
.divisaoFuncionarioConsultarHistoricoDetalhes{
    display:flex;
    flex-wrap:wrap;
    width: 530px;
    margin: auto;
    height: 91vh;
    margin-top: 50px;
}
.descricaoFuncionarioConsultarHistoricoDetalhes{
    flex:1 1 auto;
    margin: 5px 3px;
}
#descricaoFuncionarioConsultarHistoricoDetalhesCPF, #descricaoFuncionarioConsultarHistoricoDetalhesProntuario, #descricaoFuncionarioConsultarHistoricoDetalhesTipoMedico, #descricaoFuncionarioConsultarHistoricoDetalhesSalaAtendimento{
    width: 255px;
}
#inputFuncionarioConsultarHistoricoDetalhesCPF, #inputFuncionarioConsultarHistoricoDetalhesProntuario, #inputFuncionarioConsultarHistoricoDetalhesTipoMedico, #inputFuncionarioConsultarHistoricoDetalhesSalaAtendimento{
    width: 255px;
}


#descricaoFuncionarioConsultarHistoricoDetalhesNomeCompleto, #descricaoFuncionarioConsultarHistoricoDetalhesPontoReferencia{
    width: 420px;
}
#inputFuncionarioConsultarHistoricoDetalhesNomeCompleto, #inputFuncionarioConsultarHistoricoDetalhesPontoReferencia{
    width: 420px;
}

#descricaoFuncionarioConsultarHistoricoDetalhesTipoSaguineo, #descricaoFuncionarioConsultarHistoricoDetalhesNumero, #descricaoFuncionarioConsultarHistoricoDetalhesUF, #descricaoFuncionarioConsultarHistoricoDetalhesSexo{
    width: 90px;
}
#inputFuncionarioConsultarHistoricoDetalhesTipoSaguineo, #inputFuncionarioConsultarHistoricoDetalhesNumero, #inputFuncionarioConsultarHistoricoDetalhesUF, #inputFuncionarioConsultarHistoricoDetalhesSexo{
    width: 90px;
    text-align: center;
}


#descricaoFuncionarioConsultarHistoricoDetalhesEmail{
    width: 340px;

}
#inputFuncionarioConsultarHistoricoDetalhesEmail{
    width: 340px;
}

#descricaoFuncionarioConsultarHistoricoDetalhesTelefone{
    width: 170px;

}
#inputFuncionarioConsultarHistoricoDetalhesTelefone{
    width: 170px;
    text-align: center;
}


#descricaoFuncionarioConsultarHistoricoDetalhesCEP, #descricaoFuncionarioConsultarHistoricoDetalhesEstadoCivil{
    width: 110px;
}
#inputFuncionarioConsultarHistoricoDetalhesCEP, #inputFuncionarioConsultarHistoricoDetalhesEstadoCivil{
    width: 110px;
}

#descricaoFuncionarioConsultarHistoricoDetalhesRua, #descricaoFuncionarioConsultarHistoricoDetalhesLocalNascimento{
    width: 299px;
}
#inputFuncionarioConsultarHistoricoDetalhesRua, #inputFuncionarioConsultarHistoricoDetalhesLocalNascimento{
    width: 299px;
}

#descricaoFuncionarioConsultarHistoricoDetalhesComplemento, #descricaoFuncionarioConsultarHistoricoDetalhesCidade, #descricaoFuncionarioConsultarHistoricoDetalhesMunicipio{
    width: 165px;
}
#inputFuncionarioConsultarHistoricoDetalhesComplemento, #inputFuncionarioConsultarHistoricoDetalhesCidade, #inputFuncionarioConsultarHistoricoDetalhesMunicipio{
    width: 165px;
}


#descricaoFuncionarioConsultarHistoricoDetalhesNomePai, #descricaoFuncionarioConsultarHistoricoDetalhesNomeMae{
    width: 390px;

}
#inputFuncionarioConsultarHistoricoDetalhesNomePai, #inputFuncionarioConsultarHistoricoDetalhesNomeMae{
    width: 390px;
}
#descricaoFuncionarioConsultarHistoricoDetalhesTelefonePai, #descricaoFuncionarioConsultarHistoricoDetalhesTelefoneMae{
    width: 120px;

}
#inputFuncionarioConsultarHistoricoDetalhesTelefonePai, #inputFuncionarioConsultarHistoricoDetalhesTelefoneMae{
    width: 120px;
    text-align: center;
}


#descricaoFuncionarioConsultarHistoricoDetalhesSintomas, #descricaoFuncionarioConsultarHistoricoDetalhesAlergias, #descricaoFuncionarioConsultarHistoricoDetalhesDoencasCronicas, #descricaoFuncionarioConsultarHistoricoDetalhesRemediosControlados{
    width: 520px;

}
#inputFuncionarioConsultarHistoricoDetalhesSintomas, #inputFuncionarioConsultarHistoricoDetalhesAlergias, #inputFuncionarioConsultarHistoricoDetalhesDoencasCronicas, #inputFuncionarioConsultarHistoricoDetalhesRemediosControlados{
    width: 520px;
    text-align: center;
    resize: none;    
    height: 70px;
    text-align: left;
}
#inputFuncionarioConsultarHistoricoDetalhesSintomas{
    height: 150px;
}
.inputFuncionarioConsultarHistoricoDetalhes{
    padding: 10px;
    text-transform: uppercase;
}

.conteudobotaoConsultarHistoricoDetalhes{
    margin: auto;
}
.botaoConsultarHistoricoDetalhes{
    margin: 10px auto;
    margin-bottom: 20px;
    padding: 5px 15px;
    border: #126dde 1px solid;
    background-color:#126dde;
    color: #ffffff;
    font-weight: bolder;
    cursor: pointer;
}




@media only screen and (max-width: 750px) {
    .menuAcessoFuncionarioFecharMenu{
        display: none;
    }
    .topoAcessoFuncionario{
        width: calc(100% - 45px);
    }
    .topoAcessoFuncionarioAbrir{
        width: calc(100% - 220px);
        position: fixed;
        right: 0;
        background: #f0f0f0;
    }
    .menuAcessoFuncionario{
        display: none;
    }
    .menuAcessoFuncionarioAbrir{
        display: block;
        position: relative;
        left: 0;
        background: linear-gradient(180deg, #0B78A7 70%, #23E5FF);
        min-height: 100vh;
        max-height: 100%;
        padding-top: 25px;
    }
    .menuAcessoFuncionarioFechar{
        display: none;
    }
    .acessoFuncionarioMostrar{
        display: grid;
        grid-template-columns: 100%;
    }
    .acessoFuncionarioAbrir{
        display: grid;
        width: 100%;
        margin: 0px auto;
        grid-template-columns: 220px auto;
    }
}