*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial;
}


/* autenticacao */
/* .autenticacao{
    display: none;
}
.autenticacaoMostrar{
    display: grid;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */
.autenticacao{
    display: grid;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.autenticacaoOcultar{
    display: none;
}   

.divisaoAutenticacao{
    background-color: rgb(208, 208, 208);
    padding: 10px;
    border-radius: 10px;
    border: black 1px solid;
}
.descrcaoDivisaoAutenticacao{
    margin: 5px 0px;
}
.campoAutenticacao{
    text-align: center;
    float: right;
    border-radius: 5px;
    border: black 1px solid;
}

.conteudoBotaoAcessar{
    display: flex;
}
.botaoAcessar{
    margin: 10px auto;
    padding: 5px;
    border-radius: 5px;
    border: black 1px solid;
}




/* acessoFuncionario */
.acessoFuncionario{
    display: none;
}
.acessoFuncionarioMostrar{
    display: grid;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(208, 208, 208);
    padding: 10px;
    border-radius: 10px;
    border: black 1px solid;
}

.descricaoAcessoFuncionario{
    margin: 5px 0px;
}
.descricaoAcessoFuncionario input{
    text-align: center;
    float: right;
}


/* acessoPaciente */
.acessoPaciente{
    display: none;
}
.acessoPacienteMostrar{
    display: grid;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(208, 208, 208);
    padding: 10px;
    border-radius: 10px;
    border: black 1px solid;
}

.descricaoAcessoPaciente{
    margin: 5px 0px;
}
.descricaoAcessoPaciente input{
    text-align: center;
    float: right;
}


/* cadastroPaciente */
.cadastroPaciente{
    display: none;
}
.cadastroPacienteMostrar{
    display: grid;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(208, 208, 208);
    padding: 10px;
    border-radius: 10px;
    border: black 1px solid;
}

.descricaoCadastroPaciente{
    margin: 5px 0px;
}
.descricaoCadastroPaciente input{
    text-align: center;
    float: right;
}