
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}

body{
    background: linear-gradient(180deg, #0B78A7, #23E5FF);
}
.fundoBranco{
    background: #f0f0f0;
}


/* autenticacao */
/* .autenticacao{
    display: none;
}
.autenticacaoMostrar{
    display: grid;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */
.autenticacao{
    display: flex;
    height: 100vh;
}
.autenticacaoOcultar{
    display: none;
}

.divisaoAutenticacao{
    width: 800px;
    height: 450px;
    margin: auto;
    box-shadow: 0px 0px 20px 10px #0000002c;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.divisaoAutenticacaoEsquerda{
    color: #ffffff;
    background:url(img/fundo1.jpeg);
    background-size: cover;
    background-position: center;
    padding: 40% 0px;
}
.nomeTituloDivisaoAutenticacaoEsquerda{
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
}
.conteudoDivisaoAutenticacaoEsquerda{
    text-align: justify;
    text-indent: 10px;
    padding: 0px 10px;
}

.divisaoAutenticacaoDireita{
    display: inline;
    padding: 15% 0px;
    background-color: #ffffff;
}
.nomeTituloDivisaoAutenticacaoDireita{
    color: #0B78A7;
    font-size: 30px;
    padding-left: 10px;
}
.conteudoDivisaoAutenticacaoDireita{
    margin: 50px 25%;
    margin-bottom: 70px;
}
.descricaoDivisaoAutenticacao{
    margin: 5px 0px;
}
.nomeInputDivisaoAutenticacaoDireita{
    text-align: left;
}

.campoAutenticacao{
    width: 100%;
    text-align: center;
    border: #000000 1px solid;
    padding: 5px;
    margin-bottom: 5px;
}

.botaoAutenticar{
    margin: 10px auto;
    padding: 5px 15px;
    border: #126dde 1px solid;
    background-color:#126dde;
    color: #ffffff;
    font-weight: bolder;
    cursor: pointer;
}

.LinkEsqueceuSenha{
    text-align: right;
    padding-right: 5px;
    cursor: pointer;
    margin-top: 31%;
    margin-bottom: -13%;
}

/*Esqueceu Senha*/
.esqueceuSenha{
    display: none;
}
.esqueceuSenhaMostrar{
    display: flex;
    height: 100vh;
}

.divisaoEsqueceuSenha{
    width: 800px;
    height: 450px;
    margin: auto;
    box-shadow: 0px 0px 20px 10px #0000002c;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.divisaoEsqueceuSenhaEsquerda{
    color: #ffffff;
    background:url(img/fundo1.jpeg);
    background-size: cover;
    background-position: center;
    padding: 40% 0px;
}
.nomeTituloDivisaoEsqueceuSenhaEsquerda{
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
}
.conteudoDivisaoEsqueceuSenhaEsquerda{
    text-align: justify;
    text-indent: 10px;
    padding: 0px 10px;
}

.divisaoEsqueceuSenhaDireita{
    display: inline;
    padding: 15% 0px;
    background-color: #ffffff;
}
.nomeTituloDivisaoEsqueceuSenhaDireita{
    color: #0B78A7;
    font-size: 30px;
    padding-left: 10px;
}
.conteudoDivisaoEsqueceuSenhaDireita{
    margin: 50px 25%;
    margin-bottom: 70px;
}
.descricaoDivisaoEsqueceuSenha{
    margin: 5px 0px;
}
.nomeInputDivisaoEsqueceuSenhaDireita{
    text-align: left;
}

.campoEsqueceuSenha{
    width: 100%;
    text-align: center;
    border: #000000 1px solid;
    padding: 5px;
    margin-bottom: 5px;
}

.botaoEsqueceuSenha{
    margin: 10px auto;
    padding: 5px 15px;
    border: #126dde 1px solid;
    background-color:#126dde;
    color: #ffffff;
    font-weight: bolder;
    cursor: pointer;
}

.LinkbotaoVoltar{
    text-align: right;
    padding-right: 5px;
    cursor: pointer;
    color: #ff0000;
    margin-top: -15%;
    margin-bottom: 8%;
}




/* acessoFuncionario */
.acessoFuncionario{
    display: none;
}
.acessoFuncionarioMostrar{
    display: grid;
    width: 100%;
    margin: 0px auto;
    grid-template-columns: 220px auto;
}
.menuAcessoFuncionario{
    position: relative;
    left: 0;
    background: linear-gradient(180deg, #0B78A7 70%, #23E5FF);
    height: 100vh;
}
.dadosAcessoFuncionario{
    display: grid;
    margin: auto;
}
.imagemFuncionario{
    width: 150px;
    height: 150px;
    margin: 15px auto;
    border-radius: 50%;
}
.conteudoMenuAcessoFuncionario{
    margin: 1px 0px;
    margin-left: 35px;
    color: #ffffff;
    font-size: 13px;
}
.dadosMenuAcessoFuncionario{
    margin: 2px;
    margin-top: 55px;
}
.dadoMenuAcessoFuncionario{
    margin: 10px 0px;
    padding: 10px 0px;
    margin-left: 7px;
    color: #ffffff;
    cursor: pointer;
}
.dadoMenuAcessoFuncionario:hover{
    background: #ffffff;
    color: #0B78A7;
    margin-left: 0px;
    padding-left: 7px;
    font-weight: bold;

}
.nomeDadoMenuAcessoFuncionario{
    font-size: 16px;
    margin: 5px 0px;
}
.iconedadoMenuAcessoFuncionario{
    margin-right: 4px;
    font-size: 2px;
}
/* #iconeMenuCadastrarPaciente{
    transform: rotateY(180deg);
} */
#iconeMenuFazerLogoof{
    transform:rotate(180deg);
}


/* consultarCadastro */
.consultarCadastro{
    display: inline;
    margin: auto;
}
.consultarCadastroOcultar{
    display: none;
}

.nomeTituloConsultarCadastro{
    font-size: 40px;
    color: #126dde;
    margin-top: -95%;
    margin-bottom: 95%;
}
.conteudoConsultarCadastro{
    width: 10vw;
    margin: 50px auto;
}

.botaoConsultarCadastro{
    margin: 10px auto;
    padding: 5px 15px;
    border: #126dde 1px solid;
    background-color:#126dde;
    color: #ffffff;
    font-weight: bolder;
    cursor: pointer;
}


/*funcionarioConsultarCadastroCriado*/
.tituloFuncionarioConsultarCadastroCriado{
    margin: auto;
}
.nomeTituloFuncionarioConsultarCadastroCriado{
    text-align: center;
    font-size: 40px;
    color: #126dde;
    /* margin-top: -38.8%;
    margin-bottom: 38.8%; */
}
.funcionarioConsultarCadastroCriado{
    display: none;
}
.funcionarioConsultarCadastroCriadoMostrar{
    width: 50%;
    margin: auto;
    display: inline;
}

.divisaoFuncionarioConsultarCadastroCriado{
    display:flex;
    flex-wrap:wrap;
    width: 530px;
    margin: auto;
}
.descricaoFuncionarioConsultarCadastroCriado{
    flex:1 1 auto;
    margin: 5px 3px;
}
#descricaoFuncionarioConsultarCadastroCriadoCPF, #descricaoFuncionarioConsultarCadastroCriadoProntuario{
    width: 250px;
}
#funcionarioConsultarCadastroCriadoCPF, #funcionarioConsultarCadastroCriadoProntuario{
    width: 250px;
}


#descricaoFuncionarioConsultarCadastroCriadoNomeCompleto, #descricaoFuncionarioConsultarCadastroCriadoPontoReferencia{
    width: 420px;
}
#funcionarioConsultarCadastroCriadoNomeCompleto, #funcionarioConsultarCadastroCriadoPontoReferencia{
    width: 420px;
}

#descricaoFuncionarioConsultarCadastroCriadoTipoSaguineo, #descricaoFuncionarioConsultarCadastroCriadoNumero, #descricaoFuncionarioConsultarCadastroCriadoUF, #descricaoFuncionarioConsultarCadastroCriadoSexo{
    width: 90px;
}
#funcionarioConsultarCadastroCriadoTipoSaguineo, #funcionarioConsultarCadastroCriadoNumero, #funcionarioConsultarCadastroCriadoUF, #funcionarioConsultarCadastroCriadoSexo{
    width: 90px;
    text-align: center;
}


#descricaoFuncionarioConsultarCadastroCriadoEmail{
    width: 330px;

}
#funcionarioConsultarCadastroCriadoEmail{
    width: 330px;
}

#descricaoFuncionarioConsultarCadastroCriadoTelefone{
    width: 170px;

}
#funcionarioConsultarCadastroCriadoTelefone{
    width: 170px;
    text-align: center;
}


#descricaoFuncionarioConsultarCadastroCriadoCEP, #descricaoFuncionarioConsultarCadastroCriadoEstadoCivil{
    width: 110px;
}
#funcionarioConsultarCadastroCriadoCEP, #funcionarioConsultarCadastroCriadoEstadoCivil{
    width: 110px;
}

#descricaoFuncionarioConsultarCadastroCriadoRua, #descricaoFuncionarioConsultarCadastroCriadoLocalNascimento{
    width: 299px;
}
#funcionarioConsultarCadastroCriadoRua, #funcionarioConsultarCadastroCriadoLocalNascimento{
    width: 299px;
}

#descricaoFuncionarioConsultarCadastroCriadoComplemento, #descricaoFuncionarioConsultarCadastroCriadoCidade, #descricaoFuncionarioConsultarCadastroCriadoMunicipio{
    width: 165px;
}
#funcionarioConsultarCadastroCriadoComplemento, #funcionarioConsultarCadastroCriadoCidade, #funcionarioConsultarCadastroCriadoMunicipio{
    width: 165px;
}


#descricaoFuncionarioConsultarCadastroCriadoNomePai, #descricaoFuncionarioConsultarCadastroCriadoNomeMae{
    width: 390px;

}
#funcionarioConsultarCadastroCriadoNomePai, #funcionarioConsultarCadastroCriadoNomeMae{
    width: 390px;
}
#descricaoFuncionarioConsultarCadastroCriadoTelefonePai, #descricaoFuncionarioConsultarCadastroCriadoTelefoneMae{
    width: 120px;

}
#funcionarioConsultarCadastroCriadoTelefonePai, #funcionarioConsultarCadastroCriadoTelefoneMae{
    width: 120px;
    text-align: center;
}




.inputFuncionarioConsultarCadastroCriado{
    padding: 5px;
}
/**/
.nomeTituloFuncionarioCadastrarPaciente{
    font-size: 40px;
    text-align: center;
    color: #126dde;
    width: 100%;
}
.funcionarioCadastrarPaciente{
    display: none;
}
.funcionarioCadastrarPacienteMostrar{
    width: 50%;
    margin: auto;
    display: inline;
}
#divisaoFuncionarioCadastrarPaciente1, #divisaoFuncionarioCadastrarPaciente2{
    display: grid;
    grid-template-columns: 50% 50%;
}
#divisaoFuncionarioCadastrarPaciente3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
#funcionarioCadastrarPacienteNomeCompleto{
    width: 400px;
}
#funcionarioCadastrarPacienteTipoSaguineo, #funcionarioCadastrarPacienteNumero{
    width: 90px;
} #descricaoFuncionarioCadastrarPacienteCPF{
    width: 500px;
}
#descricaoFuncionarioCadastrarPacienteProntuario{
    width: 500px;
}


/* acessoPaciente */
.acessoPaciente{
    display: none;
}
.acessoPacienteMostrar{
    display: grid;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(208, 208, 208);
    padding: 10px;
    border-radius: 10px;
    border: #000000 1px solid;
}

.descricaoAcessoPaciente{
    margin: 5px 0px;
}
.descricaoAcessoPaciente input{
    text-align: center;
    float: right;
}


/* cadastroPaciente */
.cadastroPaciente{
    display: none;
}
.cadastroPacienteMostrar{
    position: relative;
    display: grid;
    width: 60%;
    margin: 1px auto;
    top: 50%;
    transform: translatey(50%);
}

.descricaoCadastroPaciente{
    margin: 5px 0px;
}
.descricaoCadastroPaciente input{
    text-align: center;
    float: right;
}


/* @media only screen and (max-width: 795px){
    .autenticacao{
        width: 80%;
    }
} */
/* @media only screen and (max-width: 595px){
    .autenticacao, .esqueceuSenhaMostrar{
        width: 400px;
    }
} */